@model Entity.Bookmark

@{
    ViewBag.Title = "Create";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).on('click', '#bookmark', function (e) {
       
        console.log(e);
        var data = $("#save").serialize();
        $.ajax({
            type: 'POST',
            url: '/Bookmarks/Create',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (result) {
                window.location.replace("/Bookmarks/Index");
            },
            error: function () {
                alert('Failed to receive the Data');
            }
        });
        e.preventDefault();
    })
</script>

<h2>Create</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "save" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" id="bookmark">Submit</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

